{% extends "myfurniturereviews/base.html" %}

{% block content %}

<div class="content container">
  <div class="row">
      <div class="col-md-8">
        <h1>
          {{ furnitureshop.name }}
          {% if user == furnitureshop.user %}
            (<a href="{% url 'myfurnitureshop: furnitureshop_edit' furnitureshop.id %}">edit</a>)
          {% endif %}
        </h1>

        <h2>Address:</h2>

        <p>
          {{ furnitureshop.street }}, {{ furnitureshop.number }} <br/>
          {{ furnitureshop.zipcode }} {{ furnitureshop.city }} <br/>
          {{ furnitureshop.stateOrProvince }} ({{ furnitureshop.country }})
        </p>

        <h2>Furnitures
          {% if user %}
            (<a href="{% url 'myfurnitureshop:furnitures_create' furnitureshop.id %}">add</a>)
          {% endif %}
        </h2>

        <ul>
          {% for furnitures in furnitureshop.furnitures.all %}
            <li><a href="{% url 'myfurnitureshop:furnitures_detail' furnitureshop.id dish.id %}">
            {{ furnitures.name }}</a></li>
          {% empty %}<li>Sorry, no furnitures available for this furnitureshop yet.</li>
          {% endfor %}
        </ul>

        <h2>Reviews</h2>

        <ul>
          {% for review in furnitureshop.furnitureshopreview_set.all %}
            <li>
              <p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
              <p>{{ review.comment }}</p>
              <p>Created by {{ review.user }} on {{ review.date }}</p>
            </li>
          {% endfor %}
        </ul>

        <h3>Add Review</h3>

        <form action="{% url 'myfurnitureshop:review_create' .id %}" method="post">
          {% csrf_token %}

          Message: <textarea name="comment" id="comment" rows="4"></textarea>
          <p>Rating:</p>
          <p>
            {% for rate in RATING_CHOICES %}
              <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
              <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{rate.0|pluralize }}</label>
              <br/>
            {% endfor %}
          </p>
          <input type="submit" value="Review" />
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

Created by {{ furnitureshop.user }} on {{ furnitureshop.date }}

{% endblock %}